name: Python package

on: [pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "pypy3"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        tzdata_extras: ["", "tzdata"]
    env:
      TOXENV: py
      TEST_EXTRAS_TOX: ${{ matrix.tzdata_extras }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - uses: actions/checkout@v3
    - name: ${{ matrix.python-version }} - ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: |
        python -m tox
    - name: Report coverage
      run: |
        tox -e coverage-report,codecov

  c_coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        os: ["ubuntu-latest"]
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: C coverage - ${{ matrix.os }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip tox
      - name: Run tests
        run: |
          tox -e gcov,codecov

  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        cc: ["gcc", "clang"]
    env:
      CC: ${{ matrix.cc }}
      CFLAGS: >
        -Wall
        -Werror
        -Wextra
        -Wno-unused-result
        -Wno-unused-parameter
        -Wno-missing-field-initializers
    steps:
      - uses: actions/checkout@v3
      - name: ${{ matrix.toxenv }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install tox
        run: python -m pip install --upgrade pip tox
      - name: Build
        run: tox -e build,build-check

  other:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        toxenv: ["lint", "docs", "mypy"]
    env:
      TOXENV: ${{ matrix.toxenv }}

    steps:
      - uses: actions/checkout@v3
      - name: ${{ matrix.toxenv }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install tox
        run: python -m pip install --upgrade pip tox
      - name: Run action
        run: |
          if [[ $TOXENV == "build" ]]; then
            CFLAGS=""
            CFLAGS+=" -Wall"
            CFLAGS+=" -Werror"
            CFLAGS+=" -Wextra"
            CFLAGS+=" -Wno-unused-result"
            CFLAGS+=" -Wno-unused-parameter"
            CFLAGS+=" -Wno-missing-field-initializers"
            export CFLAGS="${CFLAGS}"
            TOXENV="build,build-check"
          fi

          if [[ $TOXENV == "docs" ]]; then
            tox -- -j auto -bhtml -W -n -a --keep-going
          else
            tox
          fi
